[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-cpu = "==2.3.3"
flask = "*"
numpy = "*"
mtcnn = "*"
gunicorn = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.7.0"
